.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Style header */
header {
  background-color: #f0f0f0;
  padding: 10px;
}

/* Style sidebar items */
.sidebar_item {
  margin-bottom: 10px;
}

/* Style issue titles */
.issue_title {
  font-weight: bold;
}

/* Style issue descriptions */
.issue_description {
  color: #555;
}

.issue_list {
  display: flex !important;
}

/* Style issue buttons */
.issue_button {
  margin-top: 10px;
}

.issue_row {
  padding-left: 3% !important;
  margin-left: 5% !important;
  margin-right: -25% !important;
}

/* Style button links */
.btn {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Style primary button */
.btn-primary {
  background-color: #007bff;
}

/* Style warning button */
.btn-warning {
  background-color: #ffc107;
}

/* Style danger button */
.btn-danger {
  background-color: #dc3545;
}

.navRow {
  display: block !important;
}